RewriteEngine On
#RewriteCond %{REQUEST\_FILENAME} !-d
RewriteCond %{REQUEST\_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.jpeg|robots\.txt)$ [NC]
RewriteRule ^(.*) index.php?url=$1 [L,QSA]


